#draw_canvas {
  border: 1px solid black;
  float: left;
}

#panels {
  float: left;
  margin-left: 10px;
  overflow: hidden;
}

.panel {
  margin: 0;
  margin-bottom: 10px;
  border: 1px solid black;
  display: block;
  width: 300px;
}

#tools a.active_tool {
	border-color: #BBB;
	
	-moz-box-shadow:inset 0 0 10px #D4D4D4;
	-webkit-box-shadow:inset 0 0 10px #D4D4D4;
	box-shadow:inset 0 0 10px #D4D4D4;
}

#styling_options {
  height: 200px;
  width: 300px;
  border: 1px solid black;
}

#styling_options label {
  width: 100px;
  float: left;
  padding-top: 2px;
}

#styling_options span {
  display: block;
  overflow: hidden;
  margin-bottom: 5px;
  vertical-align: middle;
}

#styling_options span#line_width {
  display: inline;
  margin-right: 5px;
  float: left;
  margin-top: 4px;
}

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }
