#draw_canvas {
  border: 1px solid black;
  float: left;
}

#tools_section ul {
  margin: 0;
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid black;
  display: block;
  width: 490px;
}

#tools_section li {
  display: inline;
  list-style: none;
}

#tools_section a, #tools_section a:active, #tools_section a:visited {
  color: blue;
  text-decoration: none;
  margin-right: 10px;
}

#tools_section a.active_tool {
  font-weight: bold;
}

#style_section {
  float: left;
  margin-left: 10px;
  height: 500px;
  width: 300px;
  border: 1px solid black;
}

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }
